<p id="notice"><%= notice %></p>

<h1>Listing Marks</h1>

<table>
  <thead>
    <tr>
      <th>Registered exam paper</th>
      <th>Mark</th>
      <th>Entered by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marks.each do |mark| %>
      <tr>
        <td><%= mark.registered_exam_paper %></td>
        <td><%= mark.mark %></td>
        <td><%= mark.entered_by %></td>
        <td><%= link_to 'Show', mark %></td>
        <td><%= link_to 'Edit', edit_mark_path(mark) %></td>
        <td><%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mark', new_mark_path %>
