<p id="notice"><%= notice %></p>

<h1>Listing Syllabuses</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syllabuses.each do |syllabus| %>
      <tr>
        <td><%= syllabus.course %></td>
        <td><%= syllabus.name %></td>
        <td><%= link_to 'Show', syllabus %></td>
        <td><%= link_to 'Edit', edit_syllabus_path(syllabus) %></td>
        <td><%= link_to 'Destroy', syllabus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Syllabus', new_course_syllabus_path %>
