<%= form_for(@student_attendance_register) do |f| %>
  <%= hidden_field_tag :teacher_id, current_user.profile.id %>
  <%= f.hidden_field :marked_date, value: @date %>
  <% if @student_attendance_register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_attendance_register.errors.count, "error") %> prohibited this student_attendance_register from being saved:</h2>

      <ul>
      <% @student_attendance_register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= date_select "marked_date", "disabled", default: @date, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :batch_id %><br>
    <%= f.select :batch_id, options_from_collection_for_select(@batches, :id, :code), { include_blank: true }, "data-fetch-teacher-periods" => "student_attendance_register_period_id" %>
  </div>
  <div class="field">
    <%= f.label :period_id %><br>
    <%= f.select :period_id, [], {}, "data-fetch-period-students" => "students" %>
  </div>
  <div id="students" class="students"></div>
  <div class="actions">
    <%= f.submit "Mark Atttendance" %>
  </div>
<% end %>