<%= form_tag do %>
  <%= hidden_field_tag :teacher_id, current_user.profile.id %>
  <div class="field">
    <%= label_tag :date %><br>
    <%= date_select "date", "from", default: 1.month.ago.beginning_of_month %>
  </div>
  <div class="field">
    <%= label_tag :date %><br>
    <%= date_select "date", "to", default: Date.today %>
  </div>
  <div class="field">
    <%= label_tag :batch_id %><br>
    <%= select_tag :batch_id, options_from_collection_for_select(@batches, :id, :code), prompt: "Select batch", "data-fetch-teacher-papers" => "paper_id" %>
  </div>
  <div class="field">
    <%= label_tag :paper_id %><br>
    <%= select_tag :paper_id, [], {"data-fetch-attendance-report" => "report"} %>
  </div>
  <div id="report" class="report"></div>
<% end %>