<p id="notice"><%= notice %></p>

<%= @student_attendance_register.batch %> - 
<%= @student_attendance_register.period %>
( <%= @student_attendance_register.marked_date %> )
<%= @student_attendance_register.user.name %>

<div>
  <u><b>Absentees</b><br></u>

  <% @student_attendance_register.absences.each do |absence| %>
    <b><%= "#{absence.absentee.name} (#{absence.absentee.roll_no})" %></b><br>
  <% end %>
</div>

<%= link_to 'Back', student_attendance_registers_path %>
