<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :course_id %><br>
    <%= select_tag :course_id, options_from_collection_for_select(Course.all, :id, :name, @student.batch.try(:course).try(:id)),  include_blank: true, "data-fetch-course-batches" => "student_batch_id" %>
  </div>
  <div class="field">
    <%= f.label :batch_id %><br>
    <%=  f.select :batch_id, options_from_collection_for_select(Batch.where(course: @student.batch.try(:course)), :id, :name, @student.batch.try(:course).try(:id)) %>
  </div>
  <div class="field">
    <%= f.label :admission_no %><br>
    <%= f.text_field :admission_no %>
  </div>
  <div class="field">
    <%= f.label :roll_no %><br>
    <%= f.text_field :roll_no %>
  </div>
  <%= f.fields_for :user do |u| %>
    <%= u.hidden_field "id", value: @student.profile.id %>
    <div class="field">
      <%= label_tag :first_name %><br>
      <%= u.text_field "first_name" %>
    </div>
    <div class="field">
      <%= label_tag :middle_name %><br>
      <%= u.text_field "middle_name" %>
    </div>
    <div class="field">
      <%= label_tag :last_name %><br>
      <%= u.text_field "last_name" %>
    </div>
    <div class="field">
      <%= label_tag :email %><br>
      <%= u.email_field "email" %>
    </div>
    <div class="field">
      <%= label_tag :dp %><br>
      <%= u.file_field :dp %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
