<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table class="ui single line celled striped blue table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Batch</th>
      <th>Admission no</th>
      <th>Roll no</th>
      <th class="center aligned">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.batch %></td>
        <td><%= student.admission_no %></td>
        <td><%= student.roll_no %></td>
        <td class="center aligned">
          <%= link_to 'Show', student %> |
          <%= link_to 'Edit', edit_student_path(student) %> |
          <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
