<p id="notice"><%= notice %></p>

<%= image_tag @student.dp.passport %>

<p>
  <strong>Batch:</strong>
  <%= @student.batch %>
</p>

<p>
  <strong>Admission no:</strong>
  <%= @student.admission_no %>
</p>

<p>
  <strong>Roll no:</strong>
  <%= @student.roll_no %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
