<h1>Listing Timetables</h1>

<table class="ui single line celled striped blue table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Batch</th>
      <th>Class timing</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        <td><%= timetable.batch.course.full_name %></td>
        <td><%= timetable.batch %></td>
        <td><%= timetable.class_timing %></td>
        <td><%= timetable.start_date %></td>
        <td><%= timetable.end_date %></td>
        <td class="center aligned">
          <%= link_to 'Associate Subjects', allot_periods_timetable_path(timetable) %> | 
          <%= link_to 'Show', timetable_path(timetable) %> | 
          <%= link_to 'Edit', edit_timetable_path(timetable) %> | 
          <%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable', new_timetable_path %>
