<h1><%= @class_timing %></h1>
<h3>Listing Periods</h3>

<table class="ui single line celled striped blue table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Break</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.name %></td>
        <td><%= period.start_time %></td>
        <td><%= period.end_time %></td>
        <td><%= period.is_break? %></td>
        <td class="center aligned">
          <%= link_to 'Edit', edit_period_path(period) %> | 
          <%= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Period', new_class_timing_period_path(@class_timing) %>
