<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "ui large form"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="ui left icon input">
      <i class="user icon"></i>
      <%= f.email_field :email, autofocus: true, placeholder: "E-mail address" %>
    </div>
  </div>

  <div class="actions">
    <div class="ui buttons">
      <%= f.submit "Reset password", class: "ui red button" %>
      <div class="or"></div>
        <%= link_to "Login", new_session_path(resource_name), 
        class: "ui positive button" %>
    </div>
  </div>
<% end %>
