<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui large form"}) do |f| %>
  <div class="field">
    <div class="ui left icon input">
      <i class="user icon"></i>
      <%= f.email_field :email, autofocus: true, placeholder: "E-mail address" %>
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
  </div>
  <%= f.submit "Login", class: "ui fluid large green submit button" %>
  <div class="ui equal width center aligned padded login-links grid">
    <div class="row">
      <% if devise_mapping.rememberable? -%>
        <div class="left aligned column">
          <div class="ui checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>
      <div class="right aligned column">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="ui error message"></div>
<% end %>