<%= form_for(@term_structure) do |f| %>
  <% if @term_structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term_structure.errors.count, "error") %> prohibited this term_structure from being saved:</h2>

      <ul>
      <% @term_structure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
