<!DOCTYPE html>
<html lang="en"><head>
  <title>Campex</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Campex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
      <%= render "shared/navbar" %>
      <%= render "shared/sidebar" %>


      <section class="page-content">
        <p class="alert"><%= alert %></p>

        <%= yield %>
      </section>
    </body>
</html>