<!DOCTYPE html>
<html id="login-page">
  <head>
    <title>Campex</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui middle aligned center aligned login grid">
      <div class="column form-holder">
        <h2 class="ui form-head header">
          <%= image_tag "mentor_logo.png", class: "ui image" %>
          <div class="content">CAMPEX</div>
        </h2>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
